html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.game-title{
    margin: 50px 20px 20px 20px;
    color: blueviolet;
}

.screen{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url("/assets/wallpaper.jpg");
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}
.play{
    width: 70px;
    height: 70px;
    margin: 20px 20px 20px 20px;
    opacity: 0.7;
}
.background{
    display:flex;
    flex-direction: row;
    background-image: url("/assets/resto.png");
    background-size: 700px 400px;
    width: 700px;
    height: 400px;
    /* border-radius: 15px; */
}

.heart{
    display:flex;
    flex-direction: row;
    width:200px;
    height:400px;
    opacity: 0.8;
}

.subheart{
    width:50px;
    height:50px;
    margin: 10px 10px 10px 10px;
}
.mc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:300px;
    height:400px;

}
.mc-img{
    width:500px;
    height:400px;

}
.pet {
    background-image: url("/assets/cat10.png");
    background-size: 100px 130px;
    background-position:left;
    background-repeat: no-repeat;
    width:200px;
    height:400px;
}

.dialog{
    display:flex;
    flex-direction: row;
    margin-top: -125px;
    background-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    width: 500px;
    height: 120px;
    border-radius: 15px;
}

.mainchat {
    display:flex;
    flex-direction: column;
    width:400px;
    height:100px;
    border-width: 3px;
    border-color: white;


}
.name {
    display:flex;
    flex-direction:row;
    flex-direction: column;
    width:400px;
    height:30px;
}
.char-name{
    color: yellow;
    font-size: 15px;
    opacity:1;
    margin: 10px 10px 10px 20px;
}

.convo{
    color: white;
    font-size: 12px;
    opacity:1;
    margin: 10px 10px 10px 40px;
}

.statement{
    color: white;
    font-size: 12px;
    opacity:1;
    margin: 0px 0px 0px 40px;
}

.select-options{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    color:white;
    font-size: 12px;
    margin: 0px 0px 0px 40px;
    opacity:1;
}

input {
    margin: 5px 5px 5px 15px;
}

label{
    margin: 5px 5px 5px 5px;

}
.next-div {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
}
.next-img {

    width:50px;
    height:50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 20%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .final-img{
    width:100%;
    height: 100%;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

  .modal-body {padding: 2px 16px;}
  
